<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">TopHere</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-home'></span> Login
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/profile']">
                        <span class='glyphicon glyphicon-home'></span> Profile
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/news']">
                        <span class='glyphicon glyphicon-education'></span> News
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/findcontest']">
                        <span class='glyphicon glyphicon-education'></span> Find Contest
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/history']">
                        <span class='glyphicon glyphicon-time'></span> History
                    </a>
                </li>
                <hr/>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/contest/1']">
                        <span class='glyphicon glyphicon-th-list'></span> Best Cat Russia Dec'16
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/contest/2']">
                        <span class='glyphicon glyphicon-th-list'></span> Best Cat Nsk Dec'16
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/contest/3']">
                        <span class='glyphicon glyphicon-th-list'></span> Best Cat Year Dec'16
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>